[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dclone"]
	path = dclone
	url = https://github.com/datacloning/dclone
[submodule "dcmle"]
	path = dcmle
	url = https://github.com/datacloning/dcmle
